
@model IEnumerable<Employee>

@{

}

<h3><a asp-action="Create" class="btn btn-sm btn-secondary">Create</a></h3>
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr><th>Id</th><th>Name</th><th>Skills</th><th>Total Students</th><th>Salary</th><th>Added On</th><th>Update</th><th>Delete</th></tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="7" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.ID</td>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>

                    <td><a asp-action="Update" asp-route-id="@p.ID">Update</a></td>
                    <td>
                        <form asp-action="Delete" method="post" asp-route-id="@p.ID">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
